<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login V3</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="favicon.ico"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/fonts/iconic/css/material-design-iconic-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/css/util.css">
  <link rel="stylesheet" type="text/css" href="/assets/templatesForAuth/css/main.css">
  <!--===============================================================================================-->
</head>
<body>
<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/templatesForAuth/images/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <span class="login100-form-logo">
          <i class="zmdi zmdi-landscape"></i>
      </span>

        <span class="login100-form-title p-b-34 p-t-27">
        Log in
        </span>

        <!-- Username input field -->
        <div class="wrap-input100 validate-input" data-validate="Enter username">
          <input class="input100" type="text" name="username" placeholder="Username" formControlName="username" />
          <span class="focus-input100" data-placeholder="&#xf207;"></span>
        </div>

        <!-- Password input field -->
        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <input class="input100" type="password" name="password" placeholder="Password" formControlName="password" />
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
        </div>

        <!-- Checkbox for "Remember me" -->
        <div class="contact100-form-checkbox">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
          <label class="label-checkbox100" for="ckb1">
            Remember me
          </label>
        </div>

        <!-- Submit button -->
        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">
            Login
          </button>
        </div>

        <!-- Forgot password link -->
        <div class="text-center p-t-90">
          <a class="txt1" href="#">
            Forgot Password?
          </a>
        </div>
      </form>

    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/assets/templatesForAuth/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/templatesForAuth/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/templatesForAuth/vendor/bootstrap/js/popper.js"></script>
<script src="/assets/templatesForAuth/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/templatesForAuth/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/templatesForAuth/vendor/daterangepicker/moment.min.js"></script>
<script src="/assets/templatesForAuth/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/assets/templatesForAuth/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/assets/templatesForAuth/js/main.js"></script>

</body>
</html>
